h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
  margin: 9;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 98vh;
  padding: 1vh;
  justify-content: space-between;
}
#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.keyboardrow {
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 3.5em;
  touch-action: manipulation;
}

.keyboardrow button {
  text-transform: uppercase;
  background: transparent;
  outline: none;
  border: solid 2px #00000080;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.keyboardrow button:hover {
  background: #00000080;
  color: #ffffff;
}

.enterbutton,
.deletebutton {
  flex-grow: 1.5;
}
